
* {
    font-family: 'Gowun Dodum', sans-serif;
}

.mycards {
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 1200px;
}

.mycard {
    width: 95%;
    max-width: 500px;
    margin: 20px auto 0px auto;
    padding: 20px;
    box-shadow
    : 0px 0px 3px 0px gray;
}

.sbar1{
    display : flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrap {
    margin : auto;
}