.review {
  width: 95%;
  max-width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(56, 75, 92);
  border-radius: 5px;
}

.mybtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  background-color: rgb(13, 53, 85);
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

.mybtns > button {
  margin-right: 10px;
}
#review-content {
  height: 300px;
  font-size: 1.5rem;
}

.input-group {
  margin-top: 30px;
}
